<ion-view style="" class=" " id="page7" title="Color Palette">

    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <!--<div ng-controller="counterCtrl">-->
            <div class="card">
                <div class="item item-divider">Palette</div>
                <div class="item item-body">
                        <!--<div class="col-md-6">-->
                            <!-- * modify controller  -->
                            <div ng-controller="paletteCtrl">

                                <material-picker ng-model="color" hover-model="hoverColor" ng-click="palette_color(color.hex)"
                                                 size="15" ></material-picker>
                                hex : <input ng-model="color.hex" class="form-control" maxlength="7"/>
                                R: <input ng-model="color.r" class="form-control" maxlength="3" ng-blur="correct()"/>
                                G: <input ng-model="color.g" class="form-control" maxlength="3" ng-blur="correct()"/>
                                B: <input ng-model="color.b" class="form-control" maxlength="3" ng-blur="correct()"/>

                                <div ng-bind="color.name"></div>
                                <div class="colorpicker-preview" ng-style="{background: color.hex}"></div>

                                <button class="btn btn-info" ng-click="color.hex='#FFFFFF'">Set to White</button>
                                <button class="btn btn-info" ng-click="color.hex='#000000'">Set to Black</button>
                                <button class="btn btn-info" ng-click="color.hex='#FF6F00'">Set to Orange</button>
                                <div ng-show="hoverColor !== null">
                                    Hex: {{hoverColor.hex}} Name: {{hoverColor.name}}
                                    R: {{hoverColor.r}} G: {{hoverColor.g}} B: {{hoverColor.b}}
                                </div>


                                <div ng-

                            </div>
                        <!--</div>-->
                </div>
            <!--</div>-->
            </div>
    </ion-content>
</ion-view>